In [1]:
import json
import pandas as pd
import plotly as plt
import plotly.express as px

In [2]:
import plotly.io as pio
pio.renderers.default = 'browser'

In [3]:
countries = json.load(open("static/data/countries.geojson", "r"))

In [4]:
country_id_map = {}
for feature in countries['features']:
    feature['id'] = feature['properties']['ISO_A3']
    country_id_map[feature['properties']['ADMIN']] = feature['id']

In [5]:
df = pd.read_csv("static/data/tesla_deaths_scraped.csv")
df

,Year,Country,Description,Deaths,ByTeslaCount,ByOtherPartyCount,ByUndeterminedCount,ByInanimateObjectCount,PedestrianInvolvedCount,MotorcycleInvolvedCount,AutoPilotOnCount
0,2021,China,"Collisions with cement barrier, car catches on...",1,1,0,0,0,0,0,0
1,2021,China,"Collisions with cement barrier, car catches on...",1,1,0,0,0,0,0,0
2,2021,China,"Collisions with cement barrier, car catches on...",1,1,0,0,0,0,0,0
3,2021,China,"Collisions with cement barrier, car catches on...",1,0,1,0,0,0,0,0
4,2021,China,"Collisions with cement barrier, car catches on...",1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4526,2014,United States of America,Tesla rear ends stopped car,3,1,0,0,0,0,0,0
4527,2013,United States of America,Tesla kills cyclist,1,1,0,0,0,1,0,0
4528,2013,United States of America,Tesla kills cyclist,1,1,0,0,0,0,0,0
4529,2013,United States of America,Tesla veers into opposite lane,2,1,0,0,0,1,0,0
4530,2013,United States of America,Tesla veers into opposite lane,2,1,0,0,0,0,0,0

In [6]:
test= df['id']=df['Country'].apply(lambda x: country_id_map[x])
test

0       CHN
1       CHN
2       CHN
3       CHN
4       CHN
       ...
4526    USA
4527    USA
4528    USA
4529    USA
4530    USA
Name: Country, Length: 4531, dtype: object

In [7]:
countries['features'][0]['properties']

{'ADMIN': 'Aruba', 'ISO_A3': 'ABW'}

In [8]:
countries['features'][0].keys()

dict_keys(['type', 'properties', 'geometry', 'id'])

In [9]:
death_df = df['Deaths']
death_df

0       1
1       1
2       1
3       1
4       1
       ..
4526    3
4527    1
4528    1
4529    2
4530    2
Name: Deaths, Length: 4531, dtype: int64

In [ ]:
fig = px.choropleth(df, locations='id', geojson=countries, color= 'Deaths')
fig.show()